---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    <!-- Add structured data here -->
    <meta name="title" content="Ziyao Wang | Economics | Northeastern University">
    <meta name="description" content="Ziyao Wang, Ph.D. Candidate in Economics at Northeastern University specializing in Industrial Organization, Productivity, and Applied Econometrics.">

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Ziyao Wang",
      "jobTitle": "Ph.D. Candidate in Economics",
      "affiliation": {
        "@type": "Organization",
        "name": "Northeastern University"
      },
      "url": "https://ziyaowangecon.github.io"
    }
    </script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- PNG favicon -->
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png">

    <!-- Apple Touch Icon (for iOS bookmarks) -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
